* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #c6a212;
}

p {
	color: #fff;
	font-family: Roboto, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 22px;
	-webkit-font-smoothing: antialiased;
	text-shadow:1px 1px 1px #000;
}

a {
	color: #B1CFD8;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

a:hover {
	color: #6079AA;
	border-bottom: 1px solid rgba(255,255,255,1);
}

h1 {
	color: #fff;
	-webkit-font-smoothing: antialiased;
	text-shadow:1px 1px 1px #000;
	font-family: RobotoThin, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 50px;
	padding: 40px 0 20px 0;
	margin: 0 auto 0 50px;
}

#about {
	width: 440px;
	margin: 10px auto 0px 50px !important;
}
